@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&display=swap');
body {
  margin: 0;
  font-family: "Fira Code", monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(179 190 184), rgb(179 190 184));
}
